@import './../../index'

.auth-page
    --header-height: #{$header-height}

    position: absolute
    left: 0
    top: var(--header-height)
    z-index: 0

    width: 100%
    height: calc( 100% - var(--header-height) )
    padding-bottom: 10rem

    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center

.item
    width: 40%
    height: 100%

    display: flex
    align-items: center
    justify-content: space-evenly

.input
    margin: 0.75rem 0
    text-transform: capitalize
